body .main-sidebar{
    background-color: whitesmoke;
    text-shadow: 12px;
   
}
body .content-wrapper {
    background-color: white;
}
.form-custom td{
    padding: 10px;
}
.brand-text{
    color:black;
    
}

.nav-link p
{
    color:black;
   
}
.page-table td{
 padding: 10px;
}
#example2 #head-table{
    margin: 10px;
}
