{% extends "admin/change_form.html" %}
{% load static %}
{% load test %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<style>
    .error{
        color:red;
    }   
    #password-strength-status {
        padding: 5px 10px;
        color: #FFFFFF;
        border-radius: 4px;
        margin-top: 5px;
    }

    .medium-password {
        background-color: #b7d60a;
        border: #BBB418 1px solid;
    }

    .weak-password {
        background-color: #ce1d14;
        border: #AA4502 1px solid;
    }

    .strong-password {
        background-color: #12CC1A;
        border: #0FA015 1px solid;
    }
</style>        
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script>
$( function() {
    $("#id_state").change(function () {
    console.log("hello hello")
    const statename = $(this).val();
    console.log(statename) 
    $.ajax({                                // initialize an AJAX request
        type: "POST",
        url: "/getcitiesajax/",
        data: {
            'statename': statename,      
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
        },
        
        success: function (data) {          // `data` is from `getcitiesajax` view function
            let html_data = '<option value="">---------</option>';
            data.forEach(function (data) {
                html_data += `<option value="${data.cityId}">${data.cityName}</option>`
            });
            $("#id_city").html(html_data);   // replace the contents of the topic input with the data that came from the server
        }
    });

    });
  $( "#tabs" ).tabs();
  $(".tabs").tabs();
  var count=$('[id^=myform]').length-1;
    console.log(count)
    
    
    $("#add-new").click(function () {
      console.log("clicked")
      count++;
      if (count<10){
        
          var html = `<div id="myform[${count}]">
                                                  <hr>
                                                  Address [${count}]
                                                  <hr>
                                                  <table style="width: 100%;" cellpadding="10px">
                                                       <tr>
                                                           <th>
                                                               <input type="hidden" id="counter" name="counter" value="${count}"/>
                                                               <label>Address Name:</label>
                                                           </th>
                                                           <th>
                                                               <label>Building:</label>
                                                           </th>
                                                           
                                                           
                                                       </tr>
                                                       <tr>
                                                           <td>
                                                               <input type="text" name="Address[${count}][addressname]" maxlength="100" class="form-control  required" required  id="id_addressName[${count}]">
                                                               
                                                           </td>
                                                           <td>
                                                               <input type="text" name="Address[${count}][building]" maxlength="200" class="form-control  required" required   id="id_building[${count}]">
                                                           </td>
                                                           
                                                           
                                                       </tr>
                                                       <tr>
                                                           <th>
                                                               <label>Street:</label>
                                                           </th>
                                                           <th>
                                                               <label>Postal Code:</label>
                                                           </th>
                                                           
                                                       </tr>
                                                       <tr>
                                                           <td>
                                                               <input type="text" name="Address[${count}][street]" maxlength="200" class="form-control  required" required  id="id_street[${count}]">
                                                           </td>
                                                           <td>
                                                               <input type="number" name="Address[${count}][postalCode]" class="form-control required" required  id="id_postalCode[${count}]">
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <th>
                                                               <label>Landmark:</label>
                                                           </th>
                                                           <th>
                                                               <label>Is default:</label>
                                                           </th>
                                                           
                                                       </tr>
                                                       <tr>
                                                           <td>
                                                               <input type="text" name="Address[${count}][landMark]" maxlength="200" class="form-control  required" required  id="id_landMark[${count}]">
                                                           </td>
                                                           <td>
                                                               <input type="checkbox" name="Address[${count}][isDefault]" id="id_isDefault">
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <th>
                                                               <label>State:</label>
                                                           </th>
                                                           <th>
                                                               <label>City:</label>
                                                           </th>
                                                           
                                                       </tr>
                                                       <tr>
                                                           <td>
                                                               <select name="Address[${count}][state]" class="form-control required" required id="Address[${count}][state]">
                                 <option value="" selected>---------</option>
                                 {% for data in states %}
                                  <option value="{{data.stateId}}">{{data}}</option>
                                  {% endfor %}                          
                               
                               </select>
                                                           </td>
                                                           <td>
                                                               <select name="Address[${count}][city]" class="form-control required" required id="Address[${count}][city]">
                                 <option value="" selected>---------</option>
                               
                               
                               </select>
                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>`;
          
          $("#address-new").append(html);
          
      
      $(".delete-form").click(function(){
      count--;
      $(event.target).closest("div").parent().remove();
            
    });
    
    $("#address\\[" + count + "\\]\\[state\\]").change(function () {
    console.log("hello hello")
    const statename = $(this).val();
    console.log(statename) 
    $.ajax({                                // initialize an AJAX request
        type: "POST",
        url: "/getcitiesajax/",
        data: {
            'statename': statename,      
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
        },
        
        success: function (data) {          // `data` is from `getcitiesajax` view function
            let html_data = '<option value="">---------</option>';
            data.forEach(function (data) {
                html_data += `<option value="${data.cityId}">${data.cityName}</option>`
            });
            $("#Address\\[" + count + "\\]\\[city\\]").html(html_data);   // replace the contents of the topic input with the data that came from the server
        }
    });

    });
    
}
    });
    
} );

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"> </script>  
<script>  
    $(document).ready (function () {  
        $('#customerForm').validate({
            rules:{

                firstName:"required",
                lastName:"required",
                contactNo:{
                    required:true,
                    maxlength:10,
                    minlength:10,
                    digits: true,
                },
                email:"required",
                profileImage:"required",
                password:"required",
                addressName:"required",
                building:"required",
                street:"required",
                postalCode:{
                    required:true,
                    maxlength:6,
                    minlength:6,
                },
                landMark:"required",
                state:"required",
                city:"required",
                customerGroup:"required",
            },
            messages:{
                firstName:"Please Enter First Name",
                lastName:"Please Enter Last Name",
                contactNo:{
                    required:"Please Enter Contact Number",
                    maxlength:"Contact No is must be 10 Digit Not More than 10.",
                    minlength:"Contact no is not less than 10.",
                },
                email:"Please Enter Email",
                profileImage:"Please Select Image For Profile",
                password:"Please Enter Password",
                addressName:"Please Enter Address Name",
                building:"Please Enter Building",
                street:"Please Enter Street",
                postalCode:{
                    required:"Please Enter Postal Code",
                },
                landMark:"Please Enter Landmark",
                state:"Please Select State",
                city:"Please Select City",
                customerGroup:"Please Select Customer Group"
            },
        
        });
        
        $("#id_addressNameCust").rules("add", {
         required:true,
         messages: {
                required: "Please Enter AddessName"
         }
      });
    });
</script>
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js">
        </script>
{% endblock %}
{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block content %}
<body class="hold-transition sidebar-mini layout-fixed ml-4">
    <div class="content-wrapper">
        <form method="post" id="customerForm" action="" enctype="multipart/form-data">
            {% csrf_token %}
        <div>
            <div  class="tabs">
              <ul>
                <li><a href="#tab-1" class="selected">Customer Information</a></li>
                <li class="address-link"><a href="#tab-2" class="">Address</a></li>
                <div class="text-right">
                {% if lbl == "add" %}
              <input type="submit" value="Save" class="btn  btn-primary text-right">  
              {% else %}
              <input id="actionBtn" type="submit" name="updateContent" value="Update" class="btn  btn-primary text-right"> 
              
           
              {% endif %}
            </div>
              </ul>
              <div id="tab-2">
                <div id="address-new">
                <div id="myform[0]">
                                                  
                   <table style="width: 100%;" cellpadding="10px">
                        <tr>
                            <th>
                                <input type="hidden" id="updateId" name="updateId"/>
                                <label>Address Name:</label>
                            </th>
                            <th>
                                <label>Building:</label>
                            </th>
                            
                            
                        </tr>
                        <tr>
                            <td>
                                {{addForm.addressName|add_class:"form-control customError "}}
                            </td>
                            <td>
                                {{addForm.building|add_class:"form-control"}}
                            </td>
                            
                            
                        </tr>
                        <tr>
                            <th>
                                <label>Street:</label>
                            </th>
                            <th>
                                <label>Postal Code:</label>
                            </th>
                            
                        </tr>
                        <tr>
                            <td>
                                {{addForm.street|add_class:"form-control"}}
                            </td>
                            <td>
                                {{addForm.postalCode|add_class:"form-control"}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Landmark:</label>
                            </th>
                            <th>
                                <label>Is default:</label>
                            </th>
                            
                        </tr>
                        <tr>
                            <td>
                                {{addForm.landMark|add_class:"form-control"}}
                            </td>
                            <td>
                                {{addForm.isDefault}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>State:</label>
                            </th>
                            <th>
                                <label>City:</label>
                            </th>
                            
                        </tr>
                        <tr>
                            <td>
                                {{addForm.state|add_class:"form-control"}}
                            </td>
                            <td>
                                {{addForm.city|add_class:"form-control"}}
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
                {% if lbl == "Update" %}
                <button type="button" class="btn btn-primary" id="add-new">Add</button>
                {%endif%}
                <hr>
                <div  class="row">
                    {% for data in addressData %}
                    <div class="col-md-6">
                        <div class="callout callout-info">
                            <h5 class="text-uppercase">{{data.addressName}} {% if data.isDefault %} <i class="fas fa-check mr-2" style="color:green;font-size: 25px;"></i>{%endif%}</h5>
                            <ul style="list-style: none;">
                                <input type="hidden" id="{{data.customerAddressId}}">
                                <li><i class="fas fa-building mr-2"></i>Building : {{data.building}}</li>
                                <li><i class="fas fa-road mr-2"></i>Street : {{data.street}}</li>
                                <li><i class="fas fa-envelope-open mr-2"></i>Postal Code : {{data.postalCode}}</li>
                                <li><i class="fas fa-landmark mr-2"></i>Landmark : {{data.landMark}}</li>
                                <li><i class="fas fa-industry mr-2"></i>State : {{data.state}}</li>
                                <li><i class="fas fa-city mr-2"></i>City : {{data.city}}</li>
                                <div class="text-center">
                                    <a class="del-address" ><i class="fas fa-trash mr-2" style="color:red;font-size: 20px;"></i></a>
                                    <a class="change-address" ><i class="fas fa-edit mr-2" style="color:blue;font-size: 20px;"></i></a>
                                </div>
                            </ul>
                            
                        </div>
                          
                </div>
                {% endfor %}
                </div>
              </div>
              <div id="tab-1">
                <div>
                    {% if lbl == "add" %}
                    <table  style="width: 100%;" cellpadding="10px">
                        <tr>
                         <th>
                             <label>First Name*</label>
                             </th>
                             <th>
                                 <label>Last Name*</label>
                                 </th>
                         
                        </tr>
                        <tr>
                         <td>{{customerForm.firstName|add_class:"form-control "}}</td>
                         <td>{{customerForm.lastName|add_class:"form-control"}}</td>
                        </tr>
                        <tr>
                         <th>
                             <label>Contact No*</label>
                             </th>
                             <th>
                                 <label>Email*</label>
                                 </th>
                         
                        </tr>
                        <tr>
                         <td>{{customerForm.contactNo|add_class:"form-control"}}</td>
                         <td>{{customerForm.email|add_class:"form-control"}}</td>
                         
                        </tr>
                        <tr>
                         <th>
                             <label>Profile Image*</label>
                         </th>
                         <td>{{customerForm.profileImage|add_class:"form-control"}}</td>
                             
                        </tr>
                        <tr>
                         <th>
                             <label>Password*</label>
                             </th>
                             <th>
                                 <label>Customer Group*</label>
                                 </th>
                         
                        </tr>
                        <tr>
                         <td><input type="password" name="password" value="{% if lbl == 'Update' %} {{passData}} {% endif%}" maxlength="50" class="required form-control valid" required="" id="id_password" aria-invalid="false">
                             <div id="password-strength-status"></div>
                             </td>
                         <td>{{customerForm.customerGroup|add_class:"form-control"}}</td>
                        </tr>
                        
                        </tr>
                        
     
                     </table>
                    {% else %}
                   {% for iData in CustomerData %}
                    <table  style="width: 100%;" cellpadding="10px">
                   <tr>
                    <th>
                        <label>First Name*</label>
                        </th>
                        <th>
                            <label>Last Name*</label>
                            </th>
                    
                   </tr>
                   <tr>
                    
                    <td>
                        <input type="text" name="firstName" value="{{iData.firstName}}" maxlength="100" class="form-control required" required="" id="id_firstName">
                    </td>
                    <td>
                        <input type="text" name="lastName" value="{{iData.lastName}}" maxlength="100" class="required form-control" required="" id="id_lastName">
                    </td>
                   </tr>
                   <tr>
                    <th>
                        <label>Contact No*</label>
                        </th>
                        <th>
                            <label>Email*</label>
                            </th>
                    
                   </tr>
                   <tr>
                    
                        <td><input type="text" name="contactNo" value="{{iData.contactNo}}" maxlength="10" class="required form-control" required="" id="id_contactNo"></td>
                        <td><input type="email" name="email" value="{{iData.email}}"  maxlength="254" class="required form-control" required="" id="id_email"></td>
                    
                   </tr>
                   <tr>
                    <th>
                        <label>Profile Image*</label>
                        
                        <img id="pfImage" src="/media/{{iData.profileImage}}" height="50" width="50" style="float: right;" >
                        
                    </th>
                        <td>
                            <input type="file"  name="profileImage" accept="image/*" value="/media/{{iData.profileImage}}" class="form-control" id="id_profileImage">
                        </td>
                        
                   </tr>
                   <tr>
                    <th>
                        <label>Password*</label>
                        </th>
                        <th>
                            <label>Customer Group*</label>
                            </th>
                    
                   </tr>
                   <tr>
                    <td><div id="password-strength-status"></div>
                        <input type="password" name="password" value="{{passData}}" maxlength="50" class="required form-control valid" required="" id="id_password" aria-invalid="false">
                        
                        </td>
                    <td>{{customerForm.customerGroup|add_class:"form-control error"}}</td>
                   </tr>
                   
                   </tr>
                   

                </table>
                {% endfor %}
                {%endif%}
                </div>
              </div>
              
            </div>
            
          </div>
        </form>
</div>
<script>
    $(document).ready(function () {
        $("#id_password").on('keyup', function(){
          var number = /([0-9])/;
          var alphabets = /([a-zA-Z])/;
          var special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
          if ($('#id_password').val().length < 6) {
              $('#password-strength-status').removeClass();
              $('#password-strength-status').addClass('weak-password');
              $('#password-strength-status').html("Weak (should be atleast 6 characters.)");
          } else {
              if ($('#id_password').val().match(number) && $('#id_password').val().match(alphabets) && $('#id_password').val().match(special_characters)) {
                  $('#password-strength-status').removeClass();
                  $('#password-strength-status').addClass('strong-password');
                  $('#password-strength-status').html("Strong");
              } else {
                  $('#password-strength-status').removeClass();
                  $('#password-strength-status').addClass('medium-password');
                  $('#password-strength-status').html("Medium (should include alphabets, numbers and special characters or some combination.)");
              }
          }
        });
      }); 
    $('.del-address').click(function (e) {
    e.preventDefault();
    
    
    
    var address_id = $(this).parent("div").parent("ul").children("input").attr("id");
    console.log(address_id);
    swal({
        title: "Delete!!",
        text: "Are you sure to delete this record?",
        icon: "warning", 
        buttons:["No","Yes"],
    }).then((willDelete) => {
        if (willDelete) 
    {   
        
      $.ajax({
            url: "/delete?id=" + address_id + "/",
            type: 'GET',
            success: function (response) {
          $("#" + address_id).parent("ul").parent("div").remove();
          $("#tab-2").load(location.href + " #tab-2");
          swal("Record is Deleted!", {
            icon: "success",
            timer: 3000,
          });

          
        },
        error: function () {
            swal('Something is wrong, couldn\'t delete record',{
                icon:"error",
                timer:2000,
            });
        },
        
        cache: false,
        contentType: false,
        processData: false,
        
    });
}
    });
    

         
        
    
      
   
});
  $('.address-link').click(function (e){
    if($("#id_addressName").val()=="")
    {
    $("#actionBtn").val("Save");
    }
  });
  $('.change-address').click(function (e) {
    e.preventDefault();
    
    
    
    var address_id = $(this).parent("div").parent("ul").children("input").attr("id");
    console.log(address_id);
    $.ajax({
        url: "/edit?id=" + address_id + "/",
        type: 'GET',
        success: function (response) {
          $("#id_addressName").val(response[0]["addressName"]);
          $("#id_building").val(response[0]["building"]);
          $("#id_street").val(response[0]["street"]);
          $("#id_postalCode").val(response[0]["postalCode"]);
          $("#id_landMark").val(response[0]["landMark"]);
          $("#id_state").val(response[0]["state_id"]);
          $("#id_city").val(response[0]["city_id"]);
          $("#id_isDefault").prop("checked",response[0]["isDefault"]);
          $("#updateId").val(address_id);
          $("#actionBtn").val("Update");
        },
        error: function () {
          alert('Something is wrong, couldn\'t delete record');
        },

        cache: false,
        contentType: false,
        processData: false,

      });
  });
</script>
</body>
{% endblock %}